@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('..//fonts/SourceSansPro-Light.eot');
  src: url('../fonts/SourceSansPro-Light.eot?iefix') format('eot'),
  url('../fonts/SourceSansPro-Light.otf.woff') format('woff'),
  url('../fonts/SourceSansPro-Light.ttf') format('truetype'),
  url('../fonts/SourceSansPro-Light.svg') format('svg');
}
#debug{
  position:fixed;
  z-index: 4;
  top:0px;
}
html,body{
  font-family: "SourceSansPro-Light";
  height:100%;
}
div#wrapper{
  margin:auto;
  text-align: center;
  height:50%;
}
h1{
  padding:2em;
  font-size:400%;
}
.circle{
  background-color: #fff;
  line-height: 200px;
  text-align:center;
  width:200px;
  height:200px;
  border-radius: 100px;
  float:left;
  margin:20px;
  cursor: pointer;
}
.circle img{
  border-radius: 100px;
  width:200px;
  height:200px;
}
.green{
  background-color: green;

}
.red{
  background-color: red;

}
#circles{
  left:50%;
  margin-left:-360px;
  top:50%;
  position: fixed;
  z-index: 4;
}
.content{
  height:150%;
  position:relative;
}
#first{
  background-color: #aaa;
}
#second{
  background-color: #888;
}
#third{
  background-color: #aaa;
}
#forth{
  background-color: #888;
}
.text{
  font-size:400%;
  color:#fff;
  font-weight: bold;
  text-align: center;
  padding-top:2em;

}
