<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
  </head>
  <body>
    <h1>chocopuyo星の住人。<br />文字化け？safariで出直して来い・ω・</h1>
    <pre>
    基本
    ・ω・
    ˙꒳˙
    基本亜種
    ・э・
    ˙³˙
    ˙~˙
    ˙^˙
    ˙∽˙
    ˙□˙
    ˙ω˙
    </pre>
    <hr />
    <pre>
    応用
    
    応用の基本系
    ˙꒳˙✌
    ✌(˙꒳​˙)✌
    ( ˙꒳​˙ )
    ⁽˙꒳​˙⁾
    {˙꒳​˙}


    大人気系
    (੭ु˙꒳​˙)੭ु⁾⁾
    _(┐「˙꒳​˙)_
    _(˙꒳​˙ 」∠)_
    _(˙꒳​˙ 」∠)_≡3
    (。・ω・。)

    大人気系亜種
    (੭ु˙~˙)੭ु⁾⁾
    _(˙~˙ 」∠)_
    _(┐「˙~˙)_


    傑作集
    (๑˙꒳​˙๑)
    ٩(๑˙꒳​˙๑)۶
    (۶˙꒳˙)۶
    ヾ(＠˙꒳​˙＠)ノ
    (* ˙꒳​˙ *)
    (＊・ω・＊)
   （＊・　ω　・＊）

    ビローン
    _(・ω・ 」∠)_
    ＿(　_・ω・)_
    ＿(　　_　・　ω　・　)_
    (´・　ω　・`)
   （　｀　・　　　ω　　　・　´　
    ＿・＿ω＿・＿
    (　　・ω・　　)

    オワタ系
    ／(˙꒳​˙)＼

    焼きかま食ってる系(駄作)
    ・ω・
    つﾉ

    震える系
    (((˙꒳​˙)))
    ((((・ω・))))
    ┗┏┗┏(˙꒳​˙)┓┛┓┛ﾄﾞｺﾄﾞｺ
    ┌└┌└(・ω・)┘┐┘┐
    ₍₍ (̨̡ ˙꒳​˙  )̧̢ ₎₎
    ˓˓(ृ ु˙꒳​˙) ु˒˒
    ヽ(˙꒳˙)ﾉ三ヽ(˙꒳˙)ﾉ
    ₍⁽⁽(ી(˙꒳˙)ʃ)₎₎⁾⁾

    進行形k
    (ृ˙꒳​˙ ृ　)ु˒˒˒
    (˙꒳​˙ )))))

    鬼系
      ^
    (˙꒳​˙)
    ^^
    ・ω・

    モノレール系
    └(┐˙꒳​˙)┘

    駄作
    ))˙꒳​˙((
     旦
    |˙꒳​˙)ノ
    ˙꒳˙・ω・˙꒳˙
    ヽ◯˙꒳​˙◯ﾉﾌﾟﾖｰ
    <<˙꒳​˙>>
    ('˙꒳​˙`)
    (涙˙꒳​˙涙)
    ˙​​э˙꒳˙​э˙​
    ↙↖(˙꒳​˙)↗↘
    ˙꒳​˙三・ω・
    三二一・ω・一二三
    (　　　)三・ω・

    はーん
    ┐(˙꒳​˙)┌

    うわああ
    ▂▅▇█▓▒░(˙꒳​˙)░▒▓█▇▅▂うわあああああああ

    なんか投げつける系
    ヽ(˙꒳​˙)ﾉ
    ＼＼ うにぃ／／
    *ヽ(˙꒳​˙)ﾉ*
    ( ˙꒳˙​)◞⁽˙³˙⁾”

    仲良し
    (ृ　 ु ˙꒳​˙)ु(ृ˙꒳​˙ ृ　)ु

    すやぁ
    ˘꒳​˘
    ⊂( ˘꒳​˘ )⊃
    ( ˘꒳​˘ )

    ホモォ系
    ┌（┌˙꒳​˙）┐ｶﾄﾞﾌｼﾞｨ
    ┌(┌˙꒳​˙)┐ﾌﾟﾖｫ
    ┌（┌ ・ω・）┐

    肝系
    ・ω・＜たこぷよ
    ||||||||

    突撃系
    三卍(っ・ω・)っ
    三└(┐卍˙꒳​˙)卍
    └(┐┘˙꒳​˙)┐角ふじ

    ほっこり系
    (*˙꒳​˙*)

    我々は正規表現を目指したのだ系
    ˙/​꒳/​˙

    なんだってー
    |・ω・) ・э・) ・ω・)

    冷えてる系
    [・ω・]

    限界を超えた系
    ・᷅᷅᷅᷅᷅᷅᷅ω・᷅᷅᷅᷅᷅᷅᷅᷅᷅᷅᷅


  </pre>

  <pre>
  AA系
  ___________
   └(┐˙꒳​˙)┘

  ＿人人人人人＿
  ＞　ホモォ　＜
  ￣Y^Y^Y^Y￣

  ┌(┌ ˙꒳​˙)┐
  wwwwwwww
<hr />
＿人人人人人人人人人人人人人＿
＞　˙꒳​˙・ω・˙꒳​˙　＜
￣Y^Y^Y^Y^Y^Y^Y^Y^Y^Y^Y^Y￣
＿人人人人人人人人＿
＞　右らへん余る　＜
￣Y^Y^Y^Y^Y^Y^Y￣
<hr />
╭◜◝  ͡  ◜◝╮
(    ˙꒳​˙      )
╰◟◞  ͜  ◟◞╯

╭◜◝ ͡ ◜◝╮ ╭◜◝ ͡ ◜◝╮ 
( ˙꒳​˙ ) ( ˙꒳​˙ )
╰◟◞ ͜ ◟╭◜◝ ͡ ◜◝╮ ͜ ◟◞╯
　　　( ˙꒳​˙ )
　　　╰◟◞ ͜ ◟◞╯

<hr />
.
　 γ⌒ヽ
　○　　　 ゝ-― - ,
　　　　／．　　　．　｀ へ
　 γ~ ￣￣￣｀ヽ 　 　　く ∧
　　!　 ˙꒳​˙　　!　 　　　 |　|
　 　ヽ ＿＿＿ ノ 　 　 　 ﾉ∨
　　　　ヽ　　　 　 　 　 〆ﾝ
　　　　　　` ‐― ‐　´

　　　 ／⌒ヽ
　　　/・ω・\ 私が@chocopuyo だ
　＿ノ ヽ　ノ ＼＿
`/　`/ ⌒Ｙ⌒ Ｙ　ヽ
( 　(三ヽ人　 /　　| |
ﾉ⌒＼ ￣￣ヽ　 ノ
ヽ＿＿＿＞､＿＿_／
　　 ｜( 王 ﾉ〈
　　 /ﾐ`ー―彡ヽ

　　　 ／⌒ヽ
　　　/ ˙꒳​˙
　＿ノ ヽ　ノ ＼＿
`/　`/ ⌒Ｙ⌒ Ｙ　ヽ
( 　(三ヽ人　 /　　|
|　ﾉ⌒＼ ￣￣ヽ　 ノ
ヽ＿＿＿＞､＿＿_／
　　 ｜( 王 ﾉ〈
　　 /ﾐ`ー―彡ヽ
　　/　ヽ_／　 |
　 ｜　　/

_(┐「˙꒳​˙)_＼＼ やべえ ／／_(˙꒳​˙ 」∠)_

ちょこぷよスティック ファイナリアリティ
　　　ぷよぷよドリーム

　　　　　　ヽ／＼ , ,
　　　　| ＼ヾ　　　/／ |,　,
　　　ヾ　　　　　　　／/,,
　　＼　　　　　　　　　／"
　＼　　　　 ・ω・ 　　　／"
　 丶　　　　　　　　 　　／,


　＼＼ ハラへ ／／
　　　　＿＿＿
　　 _／ 　 　 ＼
　　/)) 　˙꒳​˙　 ヽ
　 ｜∩　　　　　 |
　 / ノ､＿＿＿＿ノ￣)
　/ /　　　　　 /ﾌ_/
　L＿／＼　　　 ＼


　　　､ゞヾ∧""'∧;, 
　　ヾ　　　˙꒳​˙　 彡　　 
　 ﾐ　　　　o　 o　 ミ
　彡　　　　　　　 ﾐ
　彡　　　　　　　 ﾐ
　彡　　　　　　　 ﾐ
　~彡　　　　　　　 ﾐ
　　/ｿ,,　,０; ,;;:､０ヾ`


　 ﾍ^ヽ､　 /⌒､　　_,_
　 |　　￣7　 (⌒r⌒7/
　 レ　　　＼_/￣＼_｣
＿/　　　　　　　　 {
_ﾌ　　 　˙꒳​˙　 　　ゝ
_人　　　　　　　　 ナ
　 `ト､＿　　　　　メ
　　　 /　 ￣ ーィ
　　 〈ﾟ･｡｡｡･ﾟ 　丶
ﾊﾛｰ・ちょこぷよ


　＼　│　／
　　／￣＼　　 ／￣￣￣￣￣￣￣￣￣
─（　˙꒳​˙）＜　ちょこぷよﾏﾝﾀﾞﾖｰ
　　＼＿／　　 ＼＿＿＿＿＿＿＿＿＿
　／　│　＼
  </pre>

  <pre>
  良作集
  ⚪︎⚪︎⚫︎⚫︎⚫︎ SoftBank 4G 13:35

  　 　( ˙-˙ )
　 ( ˙-˙ )( ˙-˙ )
( ˙-˙ )( ˙-˙ )( ˙-˙ )

˙꒳​˙ちょこぷよのライフはもうOよ
O˙꒳​˙O

^^
(˙ㅅ˙)<こっち見てんじゃねーよ

プッププー♪ちょこぷょですヾ(*˙꒳​˙)ﾉ"


╰(˙ )╮╰(꒳˙ )╮╰(˙꒳​˙ )╮

＿人人人人人人人人＿
＞　こっちみんな　＜
￣Y^Y^Y^Y^Y^Y^Y￣


おこ˙꒳​˙
まじおこ(˙꒳​˙)
激おこぷんぷん丸ヽ(˙꒳​˙)ﾉ
ムカ着火ファイアー{ヽ(˙꒳​˙)ﾉ}
カム着火ｲﾝﾌｪﾙﾉｰｫｫｫｫｵｵｳ{{ヽ(˙꒳
˙)ﾉ}}
激おこスティックファイナリアリティーぷんぷんドリーム˙꒳​˙


______
|・ω・|
|っ　ｃ|
|　ち　|
|　ょ　|
|　こ　|
|　ぷ　|
|　よ　|
|　だ　|
|　よ　|
|　　　|
￣￣￣￣

　　 ∩
　　( ⌒)　　∩__
　　/ ,ノ　　 i E)
　 / /　　　 / /””
　/ /_、_ ／ノ
`/ /・ω・)／／
(　　　／
ヽ　　｜mastサイコー
　＼　　 ＼


このちょこぷよは私のｵｺﾞﾘだ
　　　　 Λ＿Λ ｼｭｯ
　　　　(`･ω･´)
　　　　(つ　　と彡
　　　　　　　／　/
　　　　　　／　 /
　　　　　／　　/
　　　　／　　 /
　　　／ ///　/ ﾂﾂｰ
　　／・ω・ /
　／　　　　/


＿人人人人人＿
＞　・ω・　＜
￣^Y^Y^Y^￣


【落とし穴ぷよ】
￣￣￣＼＿・ω・＿／￣￣


／・ω・＼
▏　　　　▏＜ドスコイ
＼＿＿＿／


【ちょこ究極ぷよ】
／・ω・＼
▏　　　　▏
＼＿＿＿／
／・ω・＼
▏　　　　▏
＼＿＿＿／
／・ω・＼
▏　　　　▏
＼＿＿＿／
</pre>
  </body>
</html
