@font-face { 
  font-family: mofuji; 
  /*src: url(mofuji.ttf) format("truetype")*/
  src: url(mofuji.ttf) format("truetype")
}
html,body{
  width:100%;
  font-family:mofuji;
}
h1{
  font-size:200%;
  margin:10px;
}

#main{
  width:100%;
  margin:auto;
  text-align:center;
}
svg{
  margin:auto;
}

#mini_chocos{
  width:800px;
}
p#count{
  font-family:'Lucida Grande',
   'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    Meiryo, メイリオ, sans-serif;
}
#now_loading{
  width:100%;
  height:100%;
  position:absolute;
  left:0px;
  top:0px;
  background-color:black;
  font-family:'Lucida Grande',
   'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    Meiryo, メイリオ, sans-serif;
  color:white;
  text-align:center;
}
#load_h{
  position:absolute;
  top: 50%;
  margin-left:-90px;
  font-size:150%;
  font-weight:bold;
}
